body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.mainPage{
    width: 100%;
    height: 100%;
    margin: inherit;
    display: flex;
    flex-direction: column;
}

.topNav{
    /* margin: 0;
    padding: 5px;
    height: 15%; */
    display: flex;
    /* border: 2px black dashed; */
}
.leftnav{
    width: 50vw;
    margin-left: -40px;
    /* padding-left: 0px; */
}

li{
    list-style-type: none;
    display: inline;
    padding-left: 15px;
    color: #000;    
    opacity: 0.75;
    text-decoration: none;
    font-size: 13px;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}

.rightnav{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-right: 0px;
}

#googlepage{
    margin: auto;
    max-width: 70%;
}

.logoCont{
    /* width: 50%; */
    /* margin: 5px auto; */
    position: relative;
}
.logo{
    /* margin: 10px auto;
    padding: 5px 15%;
    position: relative;
    left: 0;
    right: 0;
    color: #9AA0A6; */
    

    position: relative;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, -0%);
    margin-bottom: 30px;
}

.responsive{
    max-width: 100%;
}
#inputContainer{
    position: relative;
    padding: 0px 0;
    margin: 0 auto;
    width: 584px;
    max-width: 100%;
    direction: ltr;
}

#searchInput{
    height: 44px;
    margin: 0;
    padding-left: 35px;
    width: 100%;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
}

#searchInput:hover{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

#searchImg{
    position: absolute;
    top: 13px;
    left: 13px;
    width: 20px;
    height: 20px;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

#googlepage{
    margin-top: 130px;
}

#searchInput:focus{
    outline: none;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

#searchButtons{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.button {
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.button:focus{
    border: 1px solid #4d90fe;
    outline: none;
}

.button:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

#searchForm {
    max-width: 584px;
}

.bottomNav{
    margin: 0;
    padding: 10px;
    height: 20%;
    display: flex;
    flex-direction: column;
    border: 2px black dashed;
    position: absolute;
    bottom: 0;
}

.iconLinks{
    display: flex;
    position: relative;
    margin-right: 0px;
    padding-right: 0px;
}

.googleApps{
    width: 23px;
    height: 23px;
    opacity: 0.5;
    padding-left: 13px;
    padding-top: 15px;
    padding-right: 17px;
}

.googleApps:hover{
    opacity: 0.9;
}

.signIn{
    position: relative;
    top: 10px;
    color:white;
    outline-width: 1px;
    padding: 0 12px;
    border-radius: 2px;
    border: 1px solid #4285f4;
    font-weight: bold;
    background: #4387fd;
    outline: none;
    font-size: 13px;
    line-height: 28px;
}